/* .overlay{
   background-color: teal;
} */

#div1{
    background-color:greenyellow;
    color:white;
    text-align: center;
    padding: 30px 30px ;
    border-bottom: solid;
    border-color: black;
    border-width: 5px;
}
#div2{
    /* border-style:solid; */
    /* border-radius: 5px;
    border-width: 2px; */
}
#row1{
    color:white;
    text-align:center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
#row2{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size:larger;
    /* background-color: violet; */
}
/* #row3{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size:larger;
} */

#row4{
    border-top: solid;
    border-color: black;
    border-width: 5px;
    height:400px;
    width:100px;
}
